<div class="banner-item swiper-slide">
    <div class="banner-item__content_wrap">
        <div class="banner-item__content">
            
        </div>
        <div class="banner-item__image" data-swiper-parallax="-100">
            <picture>
                <source srcset="@@image-webp" type="image/webp">
                <img width="100" height="100" data-src="@@image-original" alt="@@title" title="@@title" class="swiper-lazy" draggable="false">
            </picture>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
    </div>
</div>