<!-- Шапка -->
<header>
    <div class="header-wrap">
        <div class="container">
            <div class="header">
                <div class="header-nav__mobile">
                    <a href="#" class="hamburger-menu">
                        <div class="hamburger-menu__wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
                <div class="header-logo">
                    <a href="/"></a>
                </div>
                <div class="header-nav">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="header-contacts">
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Шапка -->